* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.game_title h1 {
	text-align: center;
	padding: 20px;
  color: red;
}
.info_game_mod {
  text-align: center;
}
#main {
	text-align: center;
	margin-top: 30px;
}
.card img {
	width: 100%;
	height: 243px;
}
.card {
  display: inline-block;
  width: 12%;
  position: relative;
  border: none;
  background: red;
}
.card:active {
	transform: scale(0.97);
}

.on, .off {
  width: 100%;
  height: 100%;
  padding: 5px;
  backface-visibility: hidden;
  
}

.off {
	position: absolute;
  transform: rotateY(0deg);
}
