* {
  padding: 0;
  margin: 0; }

body {
  background: url(../img/bg1.png); }

.container {
  margin-right: 10%;
  margin-left: 10%;
  width: 80%; }
  .container .game_title {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: red; }
  .container .row.game .infogame {
    padding: 15px;
    text-align: center; }
    .container .row.game .infogame .info_game_mod #card_flip {
      display: inline-block; }
    .container .row.game .infogame .info_game_mod #level {
      display: inline-block; }
    .container .row.game .infogame .info_game_mod .myProgress {
      margin: 30px auto;
      width: 80%;
      background-color: #ddd;
      height: 30px; }
      .container .row.game .infogame .info_game_mod .myProgress .myBar {
        height: 30px;
        background-color: #4CAF50; }
  .container .row.game #main-game {
    display: flex;
    justify-content: center; }

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #main .card-container {
    width: 140px;
    height: 243px;
    margin-right: 10px;
    margin-bottom: 10px; }
    #main .card-container .card {
      width: inherit;
      height: 100%;
      border-radius: 5px;
      position: relative;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      pointer-events: none; }
      #main .card-container .card .one_face {
        width: inherit;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; }
        #main .card-container .card .one_face img {
          width: inherit;
          height: 100%; }
      #main .card-container .card__font {
        background-color: #bbb;
        color: black; }
      #main .card-container .card__backside {
        background-color: #555;
        transform: rotateY(180deg); }
  #main .show .card {
    transform: rotateY(180deg); }

#notification {
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
  display: none;
  align-items: center; }
  #notification .wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 400px;
    text-align: center; }
    #notification .wrapper .notigame {
      background-color: white;
      border-radius: 2px;
      padding: 24px;
      position: relative; }
      #notification .wrapper .notigame h3 {
        color: black;
        font-size: 35px;
        margin: 0 0 20px;
        padding: 0;
        font-family: tahoma; }
      #notification .wrapper .notigame button {
        background-color: #DC4F4F;
        border: 1px solid #DC4F4F;
        color: white;
        padding: .55em .9em;
        border-radius: 5px; }
      #notification .wrapper .notigame p {
        font-size: 25px;
        padding: 10px; }
      #notification .wrapper .notigame.menu {
        display: none; }
      #notification .wrapper .notigame.lose {
        display: none; }
      #notification .wrapper .notigame.win {
        display: none; }
      #notification .wrapper .notigame.final {
        display: none; }

/*# sourceMappingURL=index.css.map */
